*{
  margin: 0;
  padding: 0;
}

body {
  background-color:lightgrey;
}

#root{
  min-height: 100vh;
  display: flex;
  align-items: center;
}


.card{
  margin: auto;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
  &__name {
    margin-bottom: 6px;
  }
  &__img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  &__content {
    font-family: 'Lucida Sans', sans-serif;
    line-height: 1.3;
    font-size: 20px;
    color: #555;
  }

  &__link {
    color: #aaa;
    text-decoration: none;
    font-size: 20px;
  }

  &__likes {
    font-size: 20px;
    margin-right: 10px;
  }

  &__heart{
    color:red;
    font-size: 24px;
  }
}

.wrapper__{
  &user {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &likes {
    display: flex;
  }
}


